/* Normalise styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.bold {
  font-weight: bold;
}

.blur {
  filter: blur(4px);
  transition: filter 150ms ease-in-out;
}

.page-wrapper {
  display: flex;
  justify-content: center;
}

.page {
  width: 100%;
  max-width: 1250px;
  margin: 30px 50px;
}

.page .content {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}
